<div class="content-wrapper">
    <div class="container-fluid">

        <!-- Título -->
        <span class="text tile-text d-block mb-3">
            ACCESO DENEGADO
        </span>

    </div>
</div>